.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

.game {
	width: 30.86%;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style: solid;
	margin-bottom: 30px;
	margin-top: 30px;
}
.game:hover {
	background: white;
  opacity: 50%;
}
.row-fluid {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
