body{
	background-image:url(sayagata.png);
}

.games { 
    padding-right: 25%;
    padding-left: 25%; 
}

#homepageJumbo{
	font-family: Pacifico;
	font-size:100px;
	font-weight: bold;
}

#jumboSmall{
	font-family: Open sans;
	font-size:60px;
}

#gameRow {
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(210,210,210,0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height:106px;
}

#gameRowImg{
	position:relative;
	left:-15px;
	display:block;
	height:auto;
	width:30%;
	max-height:100px;
	overflow:hidden;
}

#gameRow .gameText{
	display: block; 
	font-size: 10px;
	font-weight: bold;
	font-family: Open Sans, sans-serif;
	overflow:hidden;
	text-color: black;
}

#gameRow:hover{
	border-style: solid;
	border-color: orange;
}


