.games { 
    padding-right: 25%;
    padding-left: 25%; 
}

#gameRow {
    padding-top: 80px;
    padding-bottom: 80px;
    border-style: solid;
    margin-bottom: 30px;
    margin-top: 30px;
    background-image: url("../static/test.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#gameRowImg{
    position:absolute;
}

#gameRow .gameText{
    visibility: hidden;
}

#gameRow:hover {
    background-image: url("../static/test.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity:.70;
}

#gameRow:hover .gameText{
    visibility: visible;
}


