<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
      <link rel="stylesheet" type="text/css" href="../static/css/overwrite.css">
    </head>

    <body>

	<nav class="navbar navbar-default navbar-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="../static/icon.jpg" width="40" height="40"></a>
        </div>

        <ul class="nav navbar-nav">
			<li class="active"><a href="/">Homepage</a></li>
			<li><a href="/profile/">Profile</a></li>

			<!--  Login for navbar -->
			<li>
				<form action="/authenticate/" method="post" role="form">
					<input type="text" name="user" placeholder="username">
			</li>
			<li>
					<input type="password" name="pass" placeholder="password">
			</li>
			<li>
					<input type="submit" name="action" value="login">
            </li>
            <li>
                    <input type="submit" name="action" value="register">
            </li>
            <li>
                    {{result}}
                </form>
			</li>
			<!--  Login for navbar -->
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
      </ul>

      </div>
    </nav>

      <div class="jumbotron text-center">
	<h1 id="homepageJumbo"> Stitch </h1>
	<h3>Your gaming hub</h3>
      </div>


    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
    <div id="{PLAYER_DIV_ID}"></div>
    <script type="text/javascript">
        var options = {
            width: 854,
            height: 480,
            channel: "{CHANNEL}",
            //video: "{VIDEO_ID}"
        };
        var player = new Twitch.Player("{PLAYER_DIV_ID}", options);
        player.setVolume(0.5);
    </script>

    </body>
</html>
