<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
      <link rel="stylesheet" type="text/css" href="../static/css/overwrite.css">
    </head>

    <body>

	<nav class="navbar navbar-default navbar-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="../static/icon.jpg" width="40" height="40"></a>
        </div>

        <ul class="nav navbar-nav">
			<li class="active"><a href="#">Homepage</a></li>
			<li><a href="#">Profile</a></li>

			<!--  Login for navbar -->
			<li>
				<form action="login.py" method="post" role="form">
					<input type="text" name="username" placeholder="username">
			</li>
			<li>
					<input type="password" name="password" placeholder="password">
			</li>
			<li>
					<input type="submit" name="submit" value="login">
				</form>
			</li>
			<!--  Login for navbar -->
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
      </ul>

      </div>
    </nav>

      <div class="jumbotron text-center">
	<h1 id="homepageJumbo"> Stitch </h1>
	<h3>Your gaming hub</h3>
      </div>

      <div class="games">
      <div class="container-fluid" id="homepageContainer">
		<div class="row" id="gameRow">
			<div class="col-md-6">
				<p class="gameText"> Game Name <p>
			</div>
			<div class="col-md-2">
				<p class="gameText"> Price </p>
			</div>
		</div>

		<br>
		<br>

		 <div class="row">
                        <div class="col-md-6">
                                <p> Game Name </p>
                        </div>
                        <div class="col-md-2">
                                <p> Price </p>
                        </div>
		</div>

      </div>
      </div>

        {% for game in game_data %}
            <img src="{{game[4]}}"> </a>
            <p> Name: {{game[0]}} <br>
            {% if game[2] %}
                Discount: {{game[3]}}% <br>
                Final Price: ${{game[1]}} </p>
            {% else %}
            Price: ${{game[1]}} <br>
            {% endif %}
            <br> </p>
        {% endfor %}
    </body>
</html>
